@charset "UTF-8";

.hero {
  background-image: url("./../images/work-together-5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hero-body div.column {
  background: linear-gradient(
    to right,
    rgba(80, 190, 190, 0.7) 0,
    rgba(0, 153, 153, 0.7) 50%,
    rgba(0, 153, 176, 0.7) 83%,
    rgba(0, 153, 203, 0.7) 100%
  );
}

.navbar-item img {
  max-height: 6rem;
}
nav.navbar div.navbar-brand h1.navbar-item {
  color: #7b7c7f;
}

.arrow {
  border: solid #363636;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  margin-bottom: 0.15rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.kontakt-sticky-container {
  width: 492px;
  position: fixed;
  top: 20%;
  right: -450px;
  height: auto;
}

.kontakt-sticky {
  position: inherit;
  display: flex;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  align-self: flex-start;
  width: auto;
  padding: 15px 0 40px 5px;
  background-color: #595959;
  color: white;
}

.box {
  min-width: auto;
}

.content {
  width: 100%;
}