@charset "utf-8";

$primary: rgb(21, 120, 70);

.hero {
  background-image: url("./../images/work-together-5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hero-body div.column {
  background: linear-gradient(
    to right,
    rgba(80, 190, 190, 0.7) 0,
    rgba(0, 153, 153, 0.7) 50%,
    rgba(0, 153, 176, 0.7) 83%,
    rgba(0, 153, 203, 0.7) 100%
  );
}

.kompetenz a {
  position: absolute;
  bottom: 1em;
  width: 95%;
}

.portfolio a {
  vertical-align: middle;
}

.portfolio-content {
  width: 100%;
}

.navbar-item img {
  max-height: 6rem !important;
}

.kontakt-sticky-container {
  width: 300;
  position: fixed;
  top: 20%;
  right: -250px;
  height: auto;
}

.kontakt-sticky-container-active {
  right: 0;
}

.sticky-content {
  width: 300px;
}

.kontakt-sticky {
  position: inherit;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  align-self: flex-start;
  width: auto;
  background-color: #595959;
  color: white;
  padding: 15px 0 40px 0;
  line-height: 42.68px;
  font-size: 18px;
}

.kontakt-sticky i {
  margin-left: 0;
  position: absolute;
  bottom: 10px;
  left: 12px;
}

@import "../libs/bulma-0.9.1/bulma.sass";
