@charset "utf-8";

$primary: rgb(31, 125, 94);

p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.hero {
  background-image: url("./../images/work-together-5.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hero-body div.column {
  background: linear-gradient(
    to right,
    rgba(80, 190, 190, 0.7) 0,
    rgba(0, 153, 153, 0.7) 50%,
    rgba(0, 153, 176, 0.7) 83%,
    rgba(0, 153, 203, 0.7) 100%
  );
}

.kompetenz a {
  position: absolute;
  bottom: 1em;
  width: 95%;
}

.portfolio a {
  vertical-align: middle;
}

.portfolio-content {
  width: 100%;
}

.navbar-item img {
  max-height: 6rem !important;
}

@media screen and (max-width: 768px) {
  article .img {
    width: 50%;
  }
}

article .img {
  width: 100%;
}

.fixed-button-bar {
  position: fixed !important;
  right: 0;
  left: 0;
  bottom: 12px;
  z-index: 105;
}

@import "../libs/bulma-0.9.1/bulma.sass";
